

body {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.t1 {
  width: 800px;
  height: 700px;
  display: flex;
  margin-left: 29%
 
}

.t2 {
  width: 760px;
  height: 420px;
  display: flex;
  margin-left: 462px;
  
}